<div class="d-flex align-self-stretch justify-content-center h-100">
  <div class="column d-flex flex-column align-items-stretch w-100" *ngIf="!dailyWeatherResponseLoading else loading">
    <div class="px-3 py-2 flex-row justify-content-between d-flex">
      <div class="align-self-center display-6 badge badge-info">7-Day Forecast</div>
      <div class="align-self-center display-6 badge badge-dark">{{this.city}}</div>
    </div>
    <div class="px-2 pb-3 pt-1 mx-3 flex-grow-1 d-flex flex-column justify-content-around align-items-stretch"
         [style.padding-vertical]="'5vh'">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [plugins]="lineChartPlugins"
              [chartType]="lineChartType"></canvas>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center">
      <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
