<div class="d-flex align-self-stretch justify-content-center h-100" *ngIf="currentPage === 0">
  <div class="row d-flex justify-content-around align-items-center w-100" *ngIf="!weatherResponseLoading else loading">
    <div class="col-6 p-0 d-flex flex-column h-100 justify-content-center" style="margin-top: -5vw">
      <div class="d-flex flex-column justify-content-center" style="margin: -5vw">
        <img width="50%"
             height="auto"
             src='{{ "http://openweathermap.org/img/wn/" + weatherResponse.weather.icon + "@4x.png" }}'
             class="mx-auto"
             alt="weather icon"/>
      </div>

      <div class="d-flex flex-column justify-content-center">
        <p class="m-0 mx-auto display-5">{{weatherResponse.weather.description}}</p>
        <p class="m-0 mx-auto display-4">
          {{(weatherResponse.weather.tempMin - 273.15).toFixed(0).replace('-0', '0')}} ～
          {{(weatherResponse.weather.tempMax - 273.15).toFixed(0).replace('-0', '0')}} °C
        </p>
      </div>
    </div>

    <div class="col-6 p-0 d-flex flex-column p-0 h-100 justify-content-center">
      <p class="m-0 display-2" [style.fontSize]="cityNameFontSize">{{city}}</p>
      <p class="m-0 display-1">
        {{(weatherResponse.weather.temp - 273.15).toFixed(0).replace('-0', '0')}} °C
      </p>
    </div>
  </div>
  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center">
      <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<div class="d-flex align-self-stretch justify-content-center h-100 overflow-hidden" *ngIf="currentPage === 1">
  <div class="column d-flex flex-column align-items-stretch w-100" *ngIf="!dailyWeatherResponseLoading else loading">
    <div class="px-3 py-2 border-bottom border-dark flex-row justify-content-between d-flex">
      <div class="align-self-center display-6 badge badge-info">7-Day Forecast</div>
      <div class="align-self-center display-6 badge badge-dark">{{city}}</div>
    </div>
    <div class="px-4 py-2 mx-3 flex-grow-1 d-flex flex-column justify-content-around align-items-stretch"
         [style.padding-vertical]="'5vh'">
      <div class="display-6 flex-column d-flex flex-grow-1" *ngFor="let dw of dailyWeatherResponse.dailyWeather.weathers; let i = index">
        <div class="row align-self-stretch flex-grow-1 {{i % 2 === 0 ? 'text-dark' : 'text-light'}}" [style.background-color]="i % 2 === 0 ? '#ddd': '#a1baa7'">
          <div class="col-5 d-flex flex-column justify-content-center" *ngIf="i === 0">
            <b>Today</b>
          </div>
          <div class="col-5 d-flex flex-column justify-content-center" *ngIf="i !== 0">
            {{ dw.dt * 1000 | date: 'EEEE'}}
          </div>

          <div class="col-5" style="margin: -3vh"
               [style.background-image]="'url(http://openweathermap.org/img/wn/' + dw.icon + '@4x.png)'"
               [style.background-position]="'center center'"
               [style.background-size]="'contain'"
               [style.background-repeat]="'no-repeat'">
          </div>
          <div class="col-1 text-right d-flex flex-column justify-content-center display-5">
            {{(dw.tempMin - 273.15).toFixed(0).replace('-0', '0')}}
          </div>
          <div class="col-1 text-right d-flex flex-column justify-content-center  display-5">
            {{(dw.tempMax - 273.15).toFixed(0).replace('-0', '0')}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center">
      <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<div class="fixed-bottom bg-secondary" style="height: 2px;">
  <div class="bg-primary" [style.height.%]="100" [style.width.%]='this.currentTimer/10'></div>
</div>
