<div class="container-fluid">
  <div class="row">

    <div class="col-5 d-flex flex-column justify-content-center">
      <img width="140"
           height="140"
           src='{{ "http://openweathermap.org/img/wn/" + weatherResponse.weather.icon + "@4x.png" }}'
           class="mx-auto"
           alt="Responsive image">

      <div class="d-flex flex-column justify-content-center">
        <h6 class="m-0 mx-auto">{{weatherResponse.weather.description}}</h6>
        <h3 class="m-0 mx-auto">
          {{(weatherResponse.weather.tempMin - 273.15).toFixed(0).replace('-0', '0')}} -
          {{(weatherResponse.weather.tempMax - 273.15).toFixed(0).replace('-0', '0')}} °C
        </h3>
      </div>
    </div>

    <div class="col-7 d-flex flex-column justify-content-center">
      <h3 class="mt-5 display-4">{{city}}</h3>
      <h1 class="mt-0 display-2">
        {{(weatherResponse.weather.temp - 273.15).toFixed(0).replace('-0', '0')}} °C
      </h1>

    </div>
  </div>

</div>
